{% extends "basefront.html.twig" %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="neonBox">
    <h1 class="neonText">Kasaka's Venom Gland</h1>
</div>

{% endblock %}